<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= title %></title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/work">Work</a></li>
      <li><a href="/projects">Projects</a></li>
      <li><a href="/projects">Contact me</a></li>

    </ul>
  </nav>

  <section id="home" class="main-page-section">
    <div class="main">
        <h1 class="main-name-heading"><%= name %></h1>
        <p class="main-subtitle">Software Engineer, Full stack developer</p>    </div>
  </section>

  <section id="work" class="page-section">
    <h2>Work</h2>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam vehicula consectetur facilisis. In sed ornare nisl. Etiam eu odio id mauris finibus efficitur. Curabitur elementum, eros vitae viverra luctus, metus dui porttitor orci, in blandit libero leo non quam. Curabitur faucibus rutrum quam sit amet efficitur. Aliquam bibendum luctus dolor, eget vehicula ante efficitur nec. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Phasellus ut elit interdum, maximus augue id, finibus nisi. Aliquam ornare eu sem vitae posuere. Donec porta dictum libero, a tincidunt nulla porta non. Fusce eu eros at erat finibus mollis et eu velit. Nullam et molestie libero. In augue ligula, ultricies ac eros quis, iaculis vulputate eros. In a venenatis ipsum, ac bibendum velit. Cras venenatis metus ut nisl egestas sagittis. Donec non pellentesque eros. 
    </p>
  </section>

  <section id="projects" class="page-section">
    <h2>Projects</h2>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam vehicula consectetur facilisis. In sed ornare nisl. Etiam eu odio id mauris finibus efficitur. Curabitur elementum, eros vitae viverra luctus, metus dui porttitor orci, in blandit libero leo non quam. Curabitur faucibus rutrum quam sit amet efficitur. Aliquam bibendum luctus dolor, eget vehicula ante efficitur nec. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Phasellus ut elit interdum, maximus augue id, finibus nisi. Aliquam ornare eu sem vitae posuere. Donec porta dictum libero, a tincidunt nulla porta non. Fusce eu eros at erat finibus mollis et eu velit. Nullam et molestie libero. In augue ligula, ultricies ac eros quis, iaculis vulputate eros. In a venenatis ipsum, ac bibendum velit. Cras venenatis metus ut nisl egestas sagittis. Donec non pellentesque eros. 
    </p>
  </section>
</body>
</html>
