* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Inter, sans-serif;
  background: linear-gradient(to bottom, #222222 0%, #222222 60%, #313E50 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: #DCEDFF;
  min-height: 100vh;
}

nav {
  padding: 3rem;
  height: 80px;
}

nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
}

nav ul li {
  margin: 0 30px;
}

nav ul li a {
  color: #DCEDFF;
  text-decoration: none;
  font-size: 1.5rem;
}

.main-page-section {
  height: calc(100vh - 80px);  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 2rem;
}

.main-name-heading {
  font-size: 10rem;
  color: white;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.main-subtitle {
  font-size: 3rem;
  color: #DCEDFF;
}

.page-section {
  height: 100vh;
  padding-top: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  
}

.section-heading{
  font-size: 5rem;
}