@import "tailwindcss";

* {
  box-sizing: border-box;
}

.icon-style {
  color: white;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  transition: color 0.2s ease;
}

.icon-style:hover {
  color: #d1d5db;
}

html,
body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  height: 100%;
}
.topnav {
  background: #000000;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.5) 30%,
    rgba(0, 0, 0, 0) 100%
  );
}

.hero-bottom-gradient {
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 20px,
    rgba(0, 0, 0, 0) 70px
  );
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 6rem;
  pointer-events: none;
}

.topnav ul li a {
  color: #dcedff;
  text-decoration: none;
  font-size: 1.5rem;
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: medium;
}

.title-section {
  position: relative;
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}

.background-video {
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  object-fit: cover;
}

.page-section {
  /* min-height: 100vh; */
  padding-top: 100px;
  color: #dcedff;
}

.section-heading {
  font-size: 5rem;
  margin-bottom: 50px;
  text-align: center;
}

.main-name-heading {
  text-align: center;
  font-size: 10rem;
  margin-bottom: 0.5rem;
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: semibold;
}

.main-subtitle {
  position: relative;
  z-index: 1;
  text-align: center;
  font-size: 4rem;
  color: #aaaaaa;
  margin-top: 30vh;
}

.sections {
  background: #ffffff;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1) 0%,
    rgba(15, 15, 56, 1) 40%,
    rgba(11, 44, 59, 1) 100%
  );
}

.myCard {
  border-radius: 50px;
  background: #0e0e2a;
  box-shadow: inset 25px 25px 50px #060611, inset -25px -25px 50px #161643;
}

.contact-form {
  background-color: #1a2028;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 0 20px rgba(128, 90, 213, 0.3);
}

.contact-form input,
.contact-form textarea {
  background-color: #111827;
  color: white;
  border: 1px solid #374151;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  width: 100%;
}

.contact-form input:focus,
.contact-form textarea:focus {
  outline: none;
  border-color: #8b5cf6;
  box-shadow: 0 0 0 2px rgba(139, 92, 246, 0.5);
}

.contact-button {
  background-color: #8b5cf6;
  padding: 0.75rem;
  border-radius: 0.5rem;
  font-weight: bold;
  transition: background 0.3s;
  color: white;
}

.contact-button:hover {
  background-color: #7c3aed;
}

.work-headings {
  width: min-content;
  white-space: nowrap;
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.work-dropdown {
  --tw-bg-opacity: 1;
  padding: 12px 25px;
  border-radius: 4px;
  /* background-color: rgba(127, 29, 29, var(--tw-bg-opacity)); */
  background-color: #732718;
  /* background-color: #1a2028; */
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

input,
textarea {
  transition: all 0.3s ease;
}

input:focus,
textarea:focus {
  box-shadow: 0 0 10px rgba(139, 92, 246, 0.5);
}

input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(1);
  cursor: pointer;
}
