@import "tailwindcss";

* {
  box-sizing: border-box;
}

.icon-style {
  color: white;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  transition: color 0.2s ease;
}

.icon-style:hover {
  color: #d1d5db; /* Tailwind's gray-300 */
}

html, body{
  margin: 0;
  padding: 0; 
  scroll-behavior: smooth;
  height: 100%;
}

nav ul li a {
  color: #DCEDFF;
  text-decoration: none;
  font-size: 1.5rem;
}

.title-section {
  background-image: url('assets/background.png'); 
  background-size: cover;          
  background-position: center;     
  background-repeat: no-repeat;   
  min-height: 100vh;             
  display: flex;                 
  flex-direction: column;       
  justify-content: center;      
  align-items: center;          
  text-align: center;           
  color: white;           
}

.page-section {
  min-height: 100vh;
  padding-top: 100px;
  color: #DCEDFF;
}

.section-heading{
  font-size: 5rem;
  margin-bottom: 50px;
  text-align: center;
}

.main-name-heading {
  text-align: center;
  font-size: 10rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.main-subtitle {
  text-align: center;
  font-size: 4rem;
  color: #DCEDFF;
}

.sections{
  background: #ffffff;
  background: linear-gradient(to bottom,rgba(0, 0, 0, 1) 0%, rgba(15, 15, 56, 1) 40%, rgba(11, 44, 59, 1) 100%);
}

.myCard{
  border-radius: 50px;
background: #210455;
box-shadow:  22px 22px 44px #140233,
             -22px -22px 44px #2e0677;
}