@import "tailwindcss";

* {
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

body {
  background-image: url('assets/background.png');
  font-family: 'Inter', sans-serif;
  background-attachment: scroll;
  color: white;
  min-height: 100vh;
}

nav ul li a {
  color: #DCEDFF;
  text-decoration: none;
  font-size: 1.5rem;
}

.page-section {
  min-height: 100vh;
  padding-top: 100px;
}

.section-heading{
  font-size: 5rem;
  margin-bottom: 50px;
  text-align: center;

}

.main-page-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-size: cover;
  height: calc(100vh - 80px);
  padding: 0 2rem;
}

.main-name-heading {
  text-align: center;
  font-size: 10rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.main-subtitle {
  text-align: center;
  font-size: 4rem;
  color: #DCEDFF;
}

.sections{
    background: linear-gradient(to bottom, #222222 0%, #222222 1%, #313E50 10%);
}

.myCard{
  border-radius: 50px;
background: #1a2028;
box-shadow:  20px 20px 13px #181e26,
             -20px -20px 13px #1c222a;
}